

.Input{
  width: 150px;
  display: flex;
  flex-wrap: wrap;

}

.Modal{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;

}

.image{
  width: 370px;
  height:420px;
}
.x{
  width: 370px;
}
.sizebtn{
  width: 45px;
  height: 18px;
}